{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <form method="post"> {% csrf_token %}
                    <h3 class="mb-0">Editar información</h3></br>
                    <table>
                        {{form.as_table}}
                    </table>    
                    </br>
                    <input type="submit" value="Guardar"><br><br>
                    <a href="{% url 'List' %}">Regresar</a>
                </form>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock %}