{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Ingresar información</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <form action="{% url 'formularioExProf' %}" method="POST">{% csrf_token %}
                    <h3 class="mb-0">Nueva experiencia laboral</h3></br>
                    <table>
                        {{miFormulario.as_table}}
                    </table>    
                    </br>
                    <input type="submit" value="Guardar">
                </form>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock %}