{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Ivo
            <span class="text-primary">Francovig</span>
        </h1>
        <h3 class="mb-0">Data Analyst Jr</h3>
        <div class="subheading mb-5">
            Buenos Aires 2081 · Rosario, Argentina · (+549) 341-602-7989 ·
            <a href="mailto:name@email.com">ivofrancovig@gmail.com</a>
        </div>
        <p class="lead mb-5">Actitud proactiva, compromiso y responsabilidad. Actualmente finalizando un curso de Data Analyst y otro de programación en Python. Mi objetivo es obtener experiencia profesional en el área de análisis de datos para poder implementar y desarrollar los conocimientos aprendidos. Tengo buen nivel de Inglés y un amplio perfil en el área de diseño, tanto Gráfico como 3D. </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/ivo-m-francovig/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://www.instagram.com/milo.thelemon/"><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href="https://github.com/Ivo-Francovig"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock %}