{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<section class="resume-section" id="interests">
   <div class="resume-section-content">
       <h2 class="mb-5">Intereses</h2>
       <p>Aparte de mi trabajo, disfruto pasar tiempo afuera de casa. Me gusta andar en bicicleta, hacer kayak en el Rio Paraná y jugar al Básquet con mis amigos.</p>
       <p class="mb-0">Soy un aficionado a la música, toco el ukelele, y me gusta cantar. También aficionado de la gastronomía, tomé un curso de cocina internacional y me divierto innovando mis dotes culinarios.</p><br>
       <p class="mb-0">En casa, me gusta diseñar y customizar impresiones 3D para mejorar la vida cotidiana. También disfruto desarrollando y testeando juegos, tanto virtuales como de mesa. Especialmente aquellos con mecánicas complejas y que desafían el ingenio.</p>
   </div>
</section>
<hr class="m-0" />
{% endblock %}