{% extends "AppFinal/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Registrarse</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <form action="" method="POST">{% csrf_token %}
                    <table>    
                    {{form.as_table}}
                    </table>
                    <br>
                    <button type="submit">Registrarme</button>
                    <br><br>
                    <button><a href="login">Si ya tiene un usuario, redirigase a Iniciar Sesión</a></button>
                </form>
            </div>
        </div>
    </div>
</section>
<hr class="m-0" />

{% endblock %}
    

